In [1]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.17.3-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 523 kB/s eta 0:00:01
Requirement already satisfied: matplotlib>=3.0.0 in ./opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scipy>=1.2.1 in ./opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.5.0)
Requirement already satisfied: pandas>=0.24.2 in ./opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.0.5)
Requirement already satisfied: setuptools in ./opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (49.2.0.post20200714)
Requirement already satisfied: scikit-learn>=0.20.3 in ./opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (0.23.1)
Requirement already satisfied: numpy>=1.16.2 in ./opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.18.5)
Requirement already satisfied: joblib>=0.13.2 in ./opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (0.16.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in ./opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: cycler>=0.10 in ./opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in ./opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in ./opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: six in ./opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.17.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [4]:
df = pd.read_csv('retail_dataset.csv', sep=',')
df.head()

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

In [20]:
df.shape

(315, 7)

In [21]:
items = (df['0'].unique())

In [23]:
encoded_vals = []
for index, row in df.iterrows(): 
    labels = {}
    uncommons = list(set(items) - set(row))
    commons = list(set(items).intersection(row))
    for uc in uncommons:
        labels[uc] = 0
    for com in commons:
        labels[com] = 1
    encoded_vals.append(labels)

In [24]:
ohe_df = pd.DataFrame(encoded_vals)

In [30]:
ohe_df.head()

   Milk  Bagel  Cheese  Diaper  Meat  Wine  Eggs  Pencil  Bread
0     0      0       1       1     1     1     1       1      1
1     1      0       1       1     1     1     0       1      1
2     1      0       1       0     1     1     1       0      0
3     1      0       1       0     1     1     1       0      0
4     0      0       0       0     1     1     0       1      0

In [31]:
freq_items = apriori(ohe_df, min_support = 0.2, use_colnames = True, verbose = 1)

Processing 4 combinations | Sampling itemset size 4 3

In [32]:
freq_items

     support              itemsets
0   0.501587                (Milk)
1   0.425397               (Bagel)
2   0.501587              (Cheese)
3   0.406349              (Diaper)
4   0.476190                (Meat)
5   0.438095                (Wine)
6   0.438095                (Eggs)
7   0.361905              (Pencil)
8   0.504762               (Bread)
9   0.225397         (Milk, Bagel)
10  0.304762        (Cheese, Milk)
11  0.244444          (Milk, Meat)
12  0.219048          (Wine, Milk)
13  0.244444          (Milk, Eggs)
14  0.279365         (Milk, Bread)
15  0.279365        (Bread, Bagel)
16  0.200000      (Cheese, Diaper)
17  0.323810        (Cheese, Meat)
18  0.269841        (Wine, Cheese)
19  0.298413        (Cheese, Eggs)
20  0.200000      (Cheese, Pencil)
21  0.238095       (Cheese, Bread)
22  0.234921        (Wine, Diaper)
23  0.231746       (Diaper, Bread)
24  0.250794          (Wine, Meat)
25  0.266667          (Eggs, Meat)
26  0.206349         (Bread, Meat)
27  0.241270          (Wine, Eggs)
28  0.200000        (Wine, Pencil)
29  0.244444         (Wine, Bread)
30  0.200000       (Bread, Pencil)
31  0.203175  (Cheese, Milk, Meat)
32  0.215873  (Cheese, Eggs, Meat)

In [19]:
association_rules(freq_items, metric="confidence", min_threshold = 0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,0.064641,1.442650
1,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
2,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
3,(Wine),(Cheese),0.438095,0.501587,0.269841,0.615942,1.227986,0.050098,1.297754
4,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,0.078670,1.563203
5,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,0.084958,1.477891
6,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,0.084958,1.557540
7,(Eggs),(Meat),0.438095,0.476190,0.266667,0.608696,1.278261,0.058050,1.338624
8,"(Cheese, Meat)",(Milk),0.323810,0.501587,0.203175,0.627451,1.250931,0.040756,1.337845
9,"(Cheese, Milk)",(Meat),0.304762,0.476190,0.203175,0.666667,1.400000,0.058050,1.571429
10,"(Meat, Milk)",(Cheese),0.244444,0.501587,0.203175,0.831169,1.657077,0.080564,2.952137
11,"(Cheese, Meat)",(Eggs),0.323810,0.438095,0.215873,0.666667,1.521739,0.074014,1.685714
12,"(Cheese, Eggs)",(Meat),0.298413,0.476190,0.215873,0.723404,1.519149,0.073772,1.893773
13,"(Meat, Eggs)",(Cheese),0.266667,0.501587,0.215873,0.809524,1.613924,0.082116,2.616667